footer{
    background-color: #e2e2e2;
    width: 100%;
    height: 50px;
    top: 92.5%;
    position: fixed;
}
footer #p1{
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}